#div-container-1-logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

h5 {
  text-align: center;
  align-self: center;
  color: black;
}

button {
  width: 9rem;
  margin-right: 1rem;
  font-size: small;
}

form {
  display: flex;
}

button#logout {
  background-color: black;
  color: white;
}

button#logout:hover {
  border: 1px solid black;
  color: black;
  background-color: white;
}
