<div id="mainNavigation">
  <nav role="navigation">
    <div class="py-3 text-center border-bottom">
      <a href="#" id="meetapp">MeetApp</a>
    </div>
  </nav>
  <div class="navbar-expand-md">
    <div class="navbar-dark text-center my-2">
      <button
        class="navbar-toggler w-75"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
        <span class="align-middle"></span>
      </button>
    </div>
    <div
      class="text-center mt-3 collapse navbar-collapse"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/meetups']">Meetups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="ModalRegistro()">Regístrate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="ModalLogin()">Iniciar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</div>
