#container-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#filtros {
  margin-top: 20vh;
  margin-bottom: 5vh;
  display: flex;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
}

.card-body-2 {
  display: flex;
  justify-content: space-between;
}

svg {
  fill: #000000;
}

.card {
  margin: 1rem;
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 300px;
  width: 300px;
  -webkit-box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 10px 10px 25px 5px rgba(3, 3, 3, 0.45);
  box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.45);

  &.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &:hover {
      transform: scale(0.98);
      box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
      background-size: 130%;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

      .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: linear-gradient(
          0deg,
          rgba(174, 33, 255, 0.5) 0%,
          rgb(1, 117, 250) 100%
        );
      }
    }
  }
  .card-footer {
    background: none;
    border-top: none;
    .media {
      img {
        border: solid 3px rgba(3, 3, 3, 0.3);
      }
    }
  }
  .card-title {
    font-weight: 800;
  }
  .card-meta {
    color: rgba(0, 0, 0, 0.671);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover {
    :hover .card-body {
      color: white !important;
      margin-top: 30px;
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: linear-gradient(
      0deg,
      rgba(5, 57, 201, 0) 0%,
      rgba(255, 255, 255, 0.979) 100%
    );
  }
}

#container-p:hover svg {
  fill: #ffffff;
}

#container-p:hover small#city {
  color: white;
}

/* Inputs */

.option {
  padding: 0 30px 0 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  background: #fffdfd27;

  position: absolute;
  pointer-events: none;
  order: 2;
  transition: background 0.4s ease-in-out;
  overflow: hidden;
  color: white;
}

option:hover {
  background: #ffffff;
  color: purple;
}

.select:focus .option {
  position: relative;
  pointer-events: all;
}

input {
  opacity: 0;
  position: absolute;
  left: -99999px;
}

input:checked + label {
  order: 1;
  z-index: 2;
  color: purple;
  background: #ffffff;
  border-top: none;
  position: relative;
}

option:checked + select:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid purple;
  position: absolute;
  right: 10px;
  top: calc(50% - 2.5px);
  pointer-events: none;
  z-index: 3;
}

input:checked + label:before {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  background: #666;
}

/* Input ciudad */

select {
  width: 10rem;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.315);
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin: 1rem;
}

select option {
  color: purple;
}

select:hover {
  background-color: rgba(255, 255, 255, 0.151);
  outline: none;
}

@media (max-width: 1040px) {
  #filtros {
    flex-direction: column;
  }
}
