<footer
  class="bg-rgb(0, 0, 0) text-center text-white"
  style="background-color: rgb(0, 0, 0)"
>
  <!-- Grid container -->
  <div class="container p-1 pb-0">
    <!-- Section: Social media -->
    <section id="section-footer">
      <!-- Instagram -->
      <a class="btn btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"
          ><img src="../../../assets/icons/instagram.png" /></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in">
          <img src="../../../assets/icons/linkedin.png" /></i
      ></a>

      <!-- Github -->
      <a class="btn btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"
          ><img src="../../../assets/icons/github.png" /></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgb(0, 0, 0)">
    <a> 2023 © MeetApp By: Selene Muñoz</a>
  </div>
  <!-- Copyright -->
</footer>
