<div class="card-body p-4 p-sm-5" id="div-container-1">
  <h5 class="card-title text-center mb-5 fs-5">Inicia sesión</h5>
  <form>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInputEmail"
        placeholder="name@example.com"
      />
      <label for="floatingInputEmail">Email</label>
    </div>

    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Contraseña</label>
    </div>

    <div class="d-grid mb-2">
      <button
        id="login"
        class="btn btn-lg btn-primary btn-login fw-bold text-uppercase"
        type="submit"
      >
        Iniciar sesión
      </button>
    </div>

    <a class="d-block text-center mt-2 small" href="#"
      >¿Te gustaría unirte? Regístrate</a
    >
  </form>
</div>
