<div class="col-md-5 mx-auto">
  <div class="profile-widget">
    <div class="cover">
      <div class="profile-head">
        <div class="profile">
          <img [src]="usuario.avatarBase64" alt="Profile Image" width="130" />
          <div class="profile-info">
            <h4 class="name">{{ usuario.nombre }}</h4>
            <p class="location">{{ usuario.email }}</p>
          </div>
        </div>

        <a href="#" class="edit-profile-btn">Editar perfil</a>
      </div>
    </div>
    <div class="profile-stats">
      <ul>
        <li>
          <h5 class="stat-number">{{ usuario.numeroMeetups }}</h5>
          <p class="stat-label">Meetups</p>
        </li>
        <!-- <li>
          <h5 class="stat-number">745</h5>
          <p class="stat-label">Followers</p>
        </li>
        <li>
          <h5 class="stat-number">340</h5>
          <p class="stat-label">Following</p>
        </li> -->
      </ul>
    </div>
    <div class="profile-about">
      <h5>Acerca de mí</h5>
      <div class="about-text">
        <p class="about-item">{{ usuario.biografia }}</p>
        <!-- <p class="about-item">Lives in New York</p>
        <p class="about-item">Photographer</p> -->
      </div>
    </div>
    <div id="recent-photos">
      <div class="recent-photos-header">
        <h5>Meetups</h5>
        <a href="#" class="show-all-link">Show all</a>
      </div>
      <div class="photo-grid">
        <div
          *ngFor="let meetup of usuario.meetups"
          id="card"
          class="card text-dark card-has-bg click-col"
          style="
            background-image: url('https://source.unsplash.com/600x900/?tech,street');
          "
        >
          <img
            class="card-img d-none"
            src="https://source.unsplash.com/600x900/?tech,street"
            alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?"
          />
          <div
            class="card-img-overlay d-flex flex-column"
            [routerLink]="['/meetup']"
            [queryParams]="{ id: meetup.idMeetup }"
          >
            <div class="card-body">
              <div class="card-body-2">
                <small class="card-meta mb-2" id="city">{{
                  meetup.nombreCiudad
                }}</small>
                <div>
                  <svg
                    version="1.0"
                    xmlns="http://www.w3.org/2000/svg"
                    width="23px"
                    height="23px"
                    viewBox="0 0 512.000000 512.000000"
                    preserveAspectRatio="xMidYMid meet"
                  >
                    <g
                      transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                      stroke="none"
                    >
                      <path
                        d="M2453 4975 c-76 -21 -129 -50 -185 -103 -225 -210 -164 -571 119
  -705 63 -30 76 -32 173 -32 97 0 110 2 173 32 283 134 344 495 119 705 -109
  102 -259 140 -399 103z"
                      />
                      <path
                        d="M2045 3989 c-135 -20 -297 -135 -358 -254 -58 -116 -57 -96 -57 -859
  l0 -701 23 -39 c26 -47 94 -86 146 -86 57 1 116 33 148 81 l28 43 3 620 c2
  430 6 624 14 633 14 18 43 16 62 -3 14 -14 16 -170 16 -1573 l0 -1557 33 -54
  c25 -42 44 -61 86 -82 71 -37 129 -37 202 0 66 33 105 86 119 161 6 33 10 348
  10 821 0 677 2 769 15 780 12 10 21 10 40 2 l25 -12 0 -768 c0 -474 4 -790 10
  -823 14 -75 53 -128 119 -162 73 -36 131 -36 202 1 42 21 61 40 87 82 l32 54
  0 1557 c0 1403 2 1559 16 1573 19 19 48 21 62 3 8 -9 12 -203 14 -633 l3 -620
  28 -43 c32 -48 91 -80 148 -81 52 0 120 39 146 86 l23 39 0 701 c0 615 -2 707
  -16 755 -25 84 -58 142 -120 208 -71 77 -185 136 -289 151 -85 12 -937 11
  -1020 -1z"
                      />
                    </g>
                  </svg>
                  {{ meetup.numeroAsistentes }}
                </div>
              </div>
              <h4 class="card-title mt-0">
                <a>{{ meetup.titulo }}</a>
              </h4>
              <div style="display: flex; flex-direction: column">
                <small><i class="far fa-clock"></i>{{ meetup.fecha }}</small>
                <small
                  ><i class="far fa-clock"></i> {{ meetup.tipoTematica }}</small
                >
              </div>
            </div>
            <div class="card-footer">
              <div class="media">
                <div
                  style="
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                  "
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
