/* Base styles for profile widget */

.profile-widget {
  margin-top: 15vh;
  margin-bottom: 15vh;
  width: 50rem;
  height: auto;
  background-image: linear-gradient(
    10deg,
    rgb(255, 255, 255),
    transparent 100%
  );
  -webkit-box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 10px 10px 25px 5px rgba(3, 3, 3, 0.45);
  box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
}

.cover {
  border-radius: 20px 20px 0 0;
  color: white;
  background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 0;
}

.profile-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 2rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile img {
  border: 2px solid white;
  border-radius: 50%;
  max-width: 100%;
}

.edit-profile-btn {
  margin-top: 0.5rem;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  text-decoration: none;
}

.edit-profile-btn:hover {
  background-color: rgba(255, 255, 255, 0.116);
}

.profile-info {
  margin-top: 1rem;
  text-align: center;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.location {
  font-size: 1rem;
  color: #6c757d;
  margin: 0;
}

.profile-stats {
  background: #f8f9fac5;
  justify-content: space-around;
}

.profile-stats ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.profile-stats li {
  margin: 0;
  text-align: center;
  margin-right: 1rem;
}

.stat-number {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.stat-label {
  font-size: 1rem;
  color: #6c757d;
  margin: 0;
}

.profile-about {
  padding: 1rem 2rem;
}

.about-text {
  background: #f8f9fac5;
  border-radius: 5px;
  padding: 1rem;
}

.about-item {
  font-style: italic;
  margin: 0;
}

#recent-photos {
  padding: 1rem 2rem;
}

.recent-photos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.photo-grid {
  background: #f8f9fac5;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-body-2 {
  display: flex;
  justify-content: space-between;
}

svg {
  fill: #000000;
}

.card {
  margin: 1rem;
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 250px;
  width: 250px;
  -webkit-box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 10px 10px 25px 5px rgba(3, 3, 3, 0.45);
  box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.45);

  &.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &:hover {
      transform: scale(0.98);
      box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
      background-size: 130%;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

      .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: linear-gradient(
          0deg,
          rgba(174, 33, 255, 0.5) 0%,
          rgb(1, 117, 250) 100%
        );
      }
    }
  }
  .card-footer {
    background: none;
    border-top: none;
    .media {
      img {
        border: solid 3px rgba(3, 3, 3, 0.3);
      }
    }
  }
  .card-title {
    font-weight: 800;
  }
  .card-meta {
    color: rgba(0, 0, 0, 0.671);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover {
    :hover .card-body {
      color: white !important;
      margin-top: 30px;
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: linear-gradient(
      0deg,
      rgba(5, 57, 201, 0) 0%,
      rgba(255, 255, 255, 0.979) 100%
    );
  }
}

#card:hover svg {
  fill: #ffffff;
}

#card:hover small#city {
  color: white;
}
