#city {
  color: rgba(0, 0, 0, 0.486);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

div.container {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

article {
  margin: 1rem;
  width: 49rem;
  height: auto;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

/* Card */
.postcard {
  flex-direction: column;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.postcard.light {
  -webkit-box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 10px 10px 25px 5px rgba(3, 3, 3, 0.45);
  box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.45);
  background-color: #e1e5ead8;
}

.t-dark {
  color: #18151f;
}

.postcard a {
  text-decoration: none;
  color: inherit;
}

h1 p {
  font-weight: 800;
  margin: 0;
}

.small {
  font-size: 15px;
}

.postcard__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  position: relative;
}

.postcard__img_link {
  display: contents;
}

.postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.postcard__preview-txt {
  margin-top: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}

.postcard__tagbox {
  flex-flow: row wrap;
  font-size: 14px;
  font-weight: 800;
  justify-content: center;
  cursor: default;
}

.postcard__tagbox .tag__item {
  list-style: none;
  padding: 2.5px 10px;
  transition: background-color 0.3s;
}

.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 5px;
}

@media screen and (min-width: 769px) {
  .postcard__title {
    font-size: 2rem;
  }

  .postcard__img {
    width: 350px;
    height: auto;
    transition: transform 0.3s ease;
  }

  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }

  .postcard:nth-child(2n + 1) {
    flex-direction: row;
  }

  .postcard:nth-child(2n + 0) {
    flex-direction: row-reverse;
  }

  .postcard:nth-child(2n + 1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }

  .postcard:nth-child(2n + 0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}

@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}

/* COLORS */

.postcard .postcard__tagbox .purple.play:hover {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.082);
}

.purple:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgb(175, 73, 189), transparent 50%);
}

@media screen and (min-width: 769px) {
  .purple:before {
    background-image: linear-gradient(
      -80deg,
      rgba(86, 4, 133, 0.527),
      transparent 50%
    );
  }

  .purple:nth-child(2n)::before {
    background-image: linear-gradient(
      80deg,
      rgba(223, 5, 252, 0.822),
      transparent 50%
    );
  }
}

.button-64 {
  margin-top: 1rem;
  align-self: center;
  background-image: linear-gradient(144deg, #350258, #5a42f3ea 50%, #038eff);
  border: 0;
  border-radius: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  font-size: large;
  color: #ffffff;
  display: flex;
  justify-content: center;
  width: 10rem;
  padding: 1px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  border-radius: 5px;
  width: 10rem;
  background-color: rgb(34, 1, 49);
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}
