<section id="container-meetup">
  <div>
    <div id="img-meetup" class="card text-dark card-has-bg click-col">
      <img
        class="card-img d-none"
        src="https://source.unsplash.com/600x900/?tech,street"
        alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?"
      />

      <div class="card-body">
        <div>
          <small class="card-meta mb-2">Ciudad</small>
          <div>
            <img
              src="../../../assets/icons/people.png"
              alt=""
              style="height: 23px"
            />24
          </div>
        </div>
        <h4 class="card-title mt-0">
          <a class="text-dark">Título Meetup</a>
        </h4>
        <div>
          <small><i class="far fa-clock"></i> fecha y hora</small>
          <small><i class="far fa-clock"></i> temática</small>
        </div>
      </div>

      <img
        class="mr-3 rounded-circle"
        src="https://assets.codepen.io/460692/internal/avatars/users/default.png?format=auto&version=1688931977&width=80&height=80"
        alt="Generic placeholder image"
        style="max-width: 50px"
      />
      <h6 class="my-0 d-block" id="h6-t-meetup">Nombre usuario</h6>
    </div>
  </div>
</section>
