<section class="overflow-x">
  <div class="horizontal-friends-list">
    <figure>
      <picture>
        <img src="https://randomuser.me/api/portraits/women/2.jpg" />
      </picture>
      <figcaption>stolinksi</figcaption>
    </figure>
    <figure>
      <picture>
        <img src="https://randomuser.me/api/portraits/women/3.jpg" />
      </picture>
      <figcaption>henrihelvetica</figcaption>
    </figure>
    <figure>
      <picture>
        <img src="https://randomuser.me/api/portraits/women/4.jpg" />
      </picture>
      <figcaption>sierra.argyle.art</figcaption>
    </figure>
    <figure>
      <picture>
        <img src="https://randomuser.me/api/portraits/women/5.jpg" />
      </picture>
      <figcaption>szynszyliszys</figcaption>
    </figure>
    <figure>
      <picture>
        <img src="https://randomuser.me/api/portraits/women/6.jpg" />
      </picture>
      <figcaption>sarasoueidan</figcaption>
    </figure>
    <figure>
      <picture>
        <img src="https://randomuser.me/api/portraits/women/7.jpg" />
      </picture>
      <figcaption>kosamari</figcaption>
    </figure>
    <figure>
      <picture>
        <img src="https://randomuser.me/api/portraits/women/8.jpg" />
      </picture>
      <figcaption>wesbos</figcaption>
    </figure>
    <figure>
      <picture>
        <img src="https://randomuser.me/api/portraits/women/9.jpg" />
      </picture>
      <figcaption>paullewis</figcaption>
    </figure>
  </div>
</section>
