.carousel-item {
  height: 91vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#div-text-img {
  background-color: rgba(0, 0, 0, 0.404);
}
