<div class="card-body p-4 p-sm-5" id="div-container-1">
  <h5 class="card-title text-center mb-5 fs-5">Formulario de registro</h5>
  <form (ngSubmit)="registro()">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInputUsername"
        [(ngModel)]="usuario.nombre"
        name="nombre"
        required
        autofocus
      />
      <label for="floatingInputUsername">Nombre</label>
    </div>

    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInputEmail"
        [(ngModel)]="usuario.email"
        name="email"
      />
      <label for="floatingInputEmail">Email</label>
    </div>

    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        [(ngModel)]="usuario.password"
        name="password"
      />
      <label for="floatingPassword">Contraseña</label>
    </div>

    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingBiography"
        [(ngModel)]="usuario.biografia"
        name="biografia"
      />
      <label for="floatingPasswordConfirm">Escribe algo sobre tí</label>
    </div>

    <div class="form-floating mb-3">
      <input
        type="file"
        class="form-control"
        id="floatingAvatar"
        [(ngModel)]="usuario.avatarBase64"
        name="avatarBase64"
        accept=".png"
        (change)="onFileSelected($event)"
      />
      <label for="floatingPasswordConfirm">Foto</label>
    </div>

    <div class="d-grid mb-2">
      <button
        class="btn btn-lg btn-primary btn-login fw-bold text-uppercase"
        type="submit"
        id="registro"
      >
        Registro
      </button>
    </div>

    <a class="d-block text-center mt-2 small" href="#"
      >¿Tienes una cuenta? Inicia sesión</a
    >
  </form>
</div>
